.custom-card {
  width: 220px;
  height: 100% !important;

}

:host {
  height: 100% !important;
}

.menu-item-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}


.menu-item-title {
  color: var(--gold);
  display: flex !important;
  justify-content: center !important;
  transition: opacity 0.3s ease;
  /* Smooth transition for opacity change */
  font-family: Saira !important
}

.tag-title {
  font-family: Saira !important
}


.unavailable {
  color: var(--warn) !important;
  font-weight: semi-bold;
}


.description {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  max-height: 50px;
  /* line-height * number of lines */
  min-height: 50px !important;
  display: flex;
  align-items: center;
}

.mat-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions-container {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
