<mat-card class="custom-card" appearance="outlined">
  <mat-card-header class="mb-2">
    <mat-card-title class="menu-item-title">{{ menuItem.name }}</mat-card-title>
  </mat-card-header>
  <img class="menu-item-img mb-1" mat-card-image [defaultImage]="defaultImg" [lazyLoad]="menuItem.thumbnail"
    alt="Photo of {{ menuItem.name }}">
  <mat-card-content class="d-flex flex-column">
    <span class="dark-gold description my-2 ">{{ menuItem.description | truncate:40}}</span>
    <p *ngIf="!menuItem.availability" class="unavailable">Unavailable</p>
  </mat-card-content>
  <mat-card-actions class="d-flex flex-column justify-content-end actions-container">
    <span class="gold h7 semi-bold ">Price: {{ menuItem.price | currency }}</span>
    <div class="d-flex justify-content-between align-items-center w-100 mt-2">
      <button mat-stroked-button (click)="decreaseQuantity()"
        [disabled]="!menuItem.availability || quantity === 0">-</button>
      <span class="dark-gold">{{ quantity }}</span>
      <button mat-stroked-button (click)="increaseQuantity()" [disabled]="!menuItem.availability">+</button>
    </div>

  </mat-card-actions>
</mat-card>
