<mat-card class="example-card" appearance="outlined">
  <mat-card-header class="mb-2">
    <mat-card-title [routerLink]="['restaurant',restaurant.id]"
      class="rest-title cursor-pointer">{{restaurant.name}}</mat-card-title>
  </mat-card-header>
  <img class="rest-img" mat-card-image [defaultImage]="defaultImg" [lazyLoad]="restaurant.restaurantBackground"
    alt="Photo of a restaurant" [routerLink]="['restaurant',restaurant.id]">
  <mat-card-actions>

    <mat-chip-set>
      @for (tag of restaurant.tags; track tag) {
      <mat-chip class="tag-title">{{tag}}</mat-chip>
      }
    </mat-chip-set>

  </mat-card-actions>
</mat-card>
