

.item-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.place-order-btn {
  color: var(--gold) !important;
  font-family: saira;
  font-weight: 600;
  padding-right: 3em !important;
  padding-left: 3em !important;

}
