/* You can add global styles to this file, and also import other style files */


// @import '../styles/colors.css';
@import '../src/app/styles/_colors.scss';

@import '../src/app/styles/_typography.scss';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.cursor-pointer {
  cursor: pointer;
}

.dark-gold {
  color: var(--dark-gold)
}

.gold {
  color: var(--gold)
}
