/* You can add global styles to this file, and also import other style files */


// @import '../styles/colors.css';


html, body { height: 100%; }
body { margin: 0;

  background-color: #e7e6e6;
}

.link-decoration{
  cursor: pointer;
  &:hover{
    color:red
  }
}

.cursor-pointer{
  cursor: pointer;
}

.saira-normal-font{
  font-family: Saira;
}


:root {
  --primary: #007bff;
  --gold: #ffc107;
  --warn: #dc3545;
  --gray: #f8f9fa;
  /* Define other colors as needed */
}
