.custom-card {
  width: 220px;
}


.menu-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.menu-title {
  color: var(--gold);
  display: flex !important;
  justify-content: center !important;
  transition: opacity 0.3s ease;
  font-family: Saira !important
}

.tag-title {
  font-family: Saira !important
}
